<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="dataPath" value=".\..\..\..\data\"/>
    <add key="configPath" value=".\..\..\..\config\"/>
    <add key="logPath" value=".\..\..\..\log\"/>
    <add key="compatibleClientVersion" value="3.4.6"/>
  </appSettings>
</configuration>